@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

:root {
	--text: #54fe55;
	--error: #fe5454;
	--background: #000000;
	--selection: #1a4f1a;
}

*,
*:focus {
	outline: none;
}

html,
body {
	margin: 0;
	background: var(--background);
	color: var(--text);
	font-family: 'Press Start 2P';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

#wrapper,
label,
button span {
	transition: all 0.5s cubic-bezier(0.6, 0, 0.4, 1);
}

#wrapper {
	overflow: hidden;
}

#loginForm.signin #wrapper {
	height: 171px;
}

#loginForm.signup #wrapper {
	height: 255px;
}

#loginForm.verify #wrapper {
	height: 339px;
}

#loginForm.reset #wrapper {
	height: 85px;
}

#loginForm.signin button span {
	transform: translate3d(0, -72px, 0);
}

#loginForm.signup button span {
	transform: translate3d(0, -144px, 0);
}

#loginForm.verify button span {
	transform: translate3d(0, -216px, 0);
}

#loginForm.reset button span {
	transform: translate3d(0, 0, 0);
}

form {
	width: 450px;
	height: 370px;
}

input[type='radio'] {
	display: none;
}

#labels,
.radio-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

label {
	cursor: pointer;
	font-size: 18px;
	text-transform: uppercase;
	text-shadow: 0 0 10px var(--text);
	margin-bottom: 20px;
}

input[type='text'],
input[type='password'] {
	font-family: 'Press Start 2P', cursive;
	background: var(--background);
	border: 1px solid var(--text);
	color: var(--text);
	text-shadow: 0 0 10px var(--text);
	box-shadow: 0 0 5px var(--text);
	font-size: 18px;
	height: 72px;
	width: 443px;
	margin-bottom: 10px;
	text-indent: 20px;
	transition: all 0.2s ease-in-out;
}

input::placeholder {
	color: var(--text);
}

button {
	background: var(--selection);
	color: var(--text);
	border: 0;
	text-shadow: 0 0 10px var(--text);
	box-shadow: 0 0 10px var(--selection);
	font-family: 'Press Start 2P', cursive;
	cursor: pointer;
	font-size: 22px;
	height: 72px;
	width: 100%;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

button span {
	display: block;
	line-height: 72px;
	position: relative;
	transform: translate3d(0, 0, 0);
}

.welcome {
	font-size: 1.2em;
	width: 450px;
	transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
	margin-bottom: 50px;
}

.hidden {
	visibility: hidden;
}

#line {
	height: 3px;
	background: var(--text);
	position: absolute;
	bottom: 0px;
	transition: left 0.3s ease;
}

.error-message {
	color: var(--error, #fe5454);
	margin-top: 20px;
}
