* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #00222f;
}

#animate {
	position: absolute;
	top: 95%;
	left: 45%;
	transform: translate(-50%, -10%);
	width: 100px;
	height: 50px;
}

#back {
	position: absolute;
	top: 95%;
	left: 55%;
	transform: translate(-50%, -10%);
	width: 100px;
	height: 50px;
}

#corridor {
	position: relative;
	width: 100%;
	height: 100vh;
	perspective: 1000px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#machine,
#background {
	transition: transform 2s;
	transition-timing-function: ease-in-out;
}

/* Position of elements */
#background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#machine {
	scale: 0.04;
	z-index: 1;
}

#game {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -58%);
	z-index: 2;
}

/* Animations */
.move-out {
	transform: translate3d(0px, 0px, 1000px);
}

.move-out-machine {
	transform: translate3d(0px, 650px, 949px);
}

.hide {
	opacity: 0;
}

.blur {
	filter: blur(1px);
}
