@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,
button {
  font-family: "Poppins", sans-serif;
}

:root{
    --offcanvas-width: 270px;
    --topNavBarHeight: 81px;
    --backgroundColor: #009c82;
    --backgroundColorDark: #006352;
    --whiteColor: #fff;
    --shadowColor: #636363;
    --textColor: #c6c5bf;
}

.background_color{
    background-color: var(--backgroundColor);
}

.text_color{
    color: var(--textColor);
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

.sidebar-link {
    display: flex;
    align-items: center;   
}

.sidebar-link .right-icon {
    display: inline-flex;
    transition: all 0.3s ease;
}


.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}

main {
    margin-top: var(--topNavBarHeight);
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    main{
        margin-top: var(--topNavBarHeight);
        margin-left: var(--offcanvas-width);
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav{
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavBarHeight));
        top: var(--topNavBarHeight);
    }
}

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadingIndicator {
    color: #fff;
    font-size: 30px;
}