@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

:root {
	--text: #54fe55;
	--error: #fe5454;
	--background: #000000;
	--selection: #1a4f1a;
}

html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	flex-direction: column;
	color: var(--text);
	font-size: 23px;
	line-height: 35px;
}

*,
::selection {
	font-family: 'Press Start 2P', cursive;
}

::selection {
	background: #1a4f1a;
}

.welcome {
	max-width: 520px;
}

.welcome .line {
	overflow: hidden;
	width: 0;
	text-shadow: 0 0 10px var(--text);
	height: 1.5rem;
	text-align: left;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 520px;
}

form label {
	margin-bottom: 1.5rem; /* Increased margin */
	display: flex;
	flex-direction: column;
	text-shadow: 0 0 10px var(--text);
}

form input {
	background: var(--background);
	border: 1px solid var(--text);
	margin-top: 0.75rem;
	padding: 1rem;
	color: var(--text);
	text-shadow: 0 0 10px var(--text);
	box-shadow: 0 0 5px var(--text);
	font-size: 1.2em;
}

form input:focus,
form button:focus {
	outline: none;
}

form button {
	padding: 1rem;
	background: var(--selection);
	color: var(--text);
	border: 0;
	text-shadow: 0 0 10px var(--text);
	box-shadow: 0 0 10px var(--selection);
	cursor: pointer;
	font-size: 1.2em;
	margin-bottom: 15px;
}

@keyframes blink {
	0%,
	49% {
		opacity: 0;
	}
	50%,
	100% {
		opacity: 1;
	}
}

.blink {
	animation: blink 1s infinite;
}

.hidden {
	visibility: hidden;
}

/* .error {
} */
